img {
  width: 360px;
  height: 270px;
}
#header {
	height: 40px;
	background-color: #3c4142;
	margin-top: 0px;
	padding-bottom: 60px;
	border-bottom: thick solid #cf5300;
}
#PageName {
	margin-left: 20px;
	margin-top: 0px;
	padding-top: 15px;
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	vertical-align: middle;
}
h2 {
	font-family: 'Calligraffitti', cursive;
}
p {
	font-family: 'Calligraffitti', cursive;	
	line-height: 200%;
	margin-left: 20px;
	position: relative;
}

table.center {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	border: thick solid white;
}
td {
	border: thick solid white;
}
#footer {
	height: 5px;
	margin-bottom: 0px;
	padding: 30px;
	background-color: #3c4142;
	color: white;
	border-top: thick solid #cf5300;
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	clear: both;
}
#bottombar {
	font-color: white;
	font-size: 20px;
	margin-top: -7px;
	clear: both;
}
a {
	text-decoration: none;
	color: white;
}
#leftsidebar {
	width: 40px;
	height: 900px;
	border-right: thick solid #cf5300; 
	background-color: #d3d3d3;
	float: left;
	position: relative;
	margin: 0 0 0 0;
}
#rightsidebar {
	width: 40px;
	height: 900px;
	border-left: thick solid #cf5300; 
	background-color: #d3d3d3;
	float: right;
	position: relative;
	margin: 0 0 0 0;
}
#ProfilePic {
	height: 200px;
	width: 180px;
	margin-top: 20px;
	margin-left: 20px;
	border: solid thick white;
}
h3 {
	text-decoration: underline;
}